[Unit]
Description=Giya Pi Assistant
After=network.target

[Service]
User=root
WorkingDirectory=/home/ben/pi_assistant
ExecStartPre=/bin/sleep 10
ExecStart=/home/ben/pi_assistant/venv/bin/python3 /home/ben/pi_assistant/main.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
